.footer {
	padding: 2rem 0;
	margin-top: 3rem;
	background-color: rgba(52, 56, 64, 0.8);
	color: $white;
}
.logo{
    width:2.75rem;
    margin-right: -1.8rem;
}
.copy-r{
    font-size: 0.6rem;
    margin-top: -0.4rem;  
}
.copy-r > img {
    width: .8rem;
}